<h1>MIRQ57</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/locations" routerLinkActive="active">Standorte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/fields" routerLinkActive="active">Trainingsplatz</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/teams" routerLinkActive="active">Spieler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/trainers" routerLinkActive="active">Trainer</a>
    </li>
</ul>
<router-outlet></router-outlet>