<h3>Aktueller Plan</h3>
<button type="button" class="btn btn-primary btn-lg" (click)="gotoLocationDetail()">Standort hinzufügen</button>
<button type="button" class="btn btn-primary btn-lg" (click)="gotoFieldDetail()">Trainingsplatz hinzufügen</button>
<button type="button" class="btn btn-primary btn-lg" (click)="gotoTeamDetail()">Spieler hinzufügen</button>
<button type="button" class="btn btn-primary btn-lg" (click)="gotoTrainerDetail()">Trainer hinzufügen</button>
<button type="button" class="btn btn-primary btn-lg" (click)="updateSchedule()">Updaten</button>
<table class="table table-striped" *ngIf="locationObjects && teams">
    <thead>
        <tr>
            <th>Standort</th>
            <th>Wochentage</th>
            <th>Startzeit</th>
            <th>Endzeit</th>
            <th>Traininsplatz</th>
            <th>Spieler</th>
            <th>Trainer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solution of solutions">
            <td>{{getLocationName(solution.location)}}</td>
            <td>{{getDays(solution.dayOfWeek)}}</td>
            <td>{{getTime(solution.startTime)}}</td>
            <td>{{getTime(solution.endTime)}}</td>
            <td>{{solution.field}}</td>
            <td>{{getTeamName(solution.asignedTo)}}</td>
            <td>{{getTrainer(solution.asignedTo)}}</td>
        </tr>
    </tbody>
</table>