<h1>{{event.EventDescription}}</h1>
<div><label>Location:</label> {{event.EventLocation}}</div>
<div><label>Start date:</label> {{event.EventStart | date:'medium'}}</div>
<div><label>End date:</label> {{event.EventStart | date: 'medium'}}</div>
<div><label>All day event:</label> {{event.IsAllDay}}</div>

<br>
<h3>Will you attend?</h3>
<div [ngClass]="setClassForYes()" class="btn btn-primary" (click)="sendResponse(true)">Yes</div><div style="margin-left: 2em;" class="btn btn-secondary" (click)="sendResponse(false)" [ngClass]="setClassForNo()">No</div>

<app-event-participate [eventId]="eventId"></app-event-participate>