<a class="nav-item nav-link active" routerLink="/championship/new" routerLinkActive="active">Hinzufügen</a>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <td>
        </td>
    </tr>
    <tr *ngFor="let c of championships">
        <td>
            {{c.name}}
        </td>
        <td>
            <a class="btn btn-primary" href="/championship-info/{{c.id}}">Anzeigen</a>
            <a class="btn btn-primary" href="/championship/{{c.id}}">Bearbeiten</a>
            <button class="btn btn-primary" (click)="delete(c.id)">Löschen</button>
        </td>
    </tr>
</table>