<p>Edit event information</p>
<!--Get event informations-->
<form>
  Event Name:<br>
  <input type="text" name="eventname"><br>
  Event beschreibung:<br>
  <input type="text" name="eventdescription"><br>
  Event ZIP Code<br>
  <input type="text" name="eventzip"><br>
  Date:<br>
   <input type="date" name="eventdate" placeholder="DD:MM:YYYY"><br>
<button name="save">Save changes</button> <!--Save changes of event to Database-->
<button name="delete">Delete event</button> <!--Delete event data from database-->
</form>
